h3 {
    margin: 0 0 6px -1px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    word-wrap: break-word;
}

li:nth-child(2n+1) {
    background-color: #F7F8FA;
}

label {
    position: relative;
    bottom: 2px;
}

#allChecked {
    margin-left: 0;
    margin-bottom: 10px;
}

.app-control-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 6px 0;
}

    .button-container {
        margin-top: 13px;
    }

    .buttons {
        flex: 20;
    }

    .input-row {
        margin-bottom: 12px;
        display: flex;
    }

        .folder-text-input {
            width: 164px;
        }
    
        .sm-icon {
            height: 26px;
            width: 26px;
            position: relative;
        }

        .button-row {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
        }

    .spacer {
        flex: 1;
    }

    .subreddits {
        flex: 20;
    }

        .all-checked-label {
            font-style: italic;
        }

            .subreddit {
                padding: 2px;
            }

            .length-number-input {
                flex: 8;
                min-width: 50px;
                margin-top: 7px;
            }

.post-list,
.subreddit-list {
    height: 164px;    
    overflow-y: scroll;
    box-shadow: 0 1px 4px rgba(220, 220, 220, 0.5);
    border: 1px solid #DAE0E6;
}

    .post:active,
    .post:hover {
        white-space: normal;
    }

    .post {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.31em 4px;
    }

        .post-link-img {
            height: 9px;
            width: 9px;
            margin-right: 4px;
        }

        .post-title {
            color: #3d3d3d;
        }