form {
    text-align: center;
}

.form-control {
    display: block;
    margin: 18px auto;
    width: 200px;
}

.remember-me {
    position: absolute;
    top: 242px;
    right: 256px;
}

.form-error {
    position: absolute;
    margin-top: -17px;
    margin-left: 110px;
}

.form-btn {
    margin-top: 20px;
}