@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600');

html, body {
	position: relative;
    height: 600px;
    width: 504px;
}

body {
    display: flex;
    flex-direction: column;
	color: #333;
	margin: 0;
	padding: 0 24px 24px 24px;
	box-sizing: border-box;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
}

input, button, ul {
    margin-bottom: 0.5em;
}

ul {
	margin-top: 0.5em;
	padding: 0;
    overflow-y: scroll;
    box-shadow: 0 1px 4px rgba(220, 220, 220, 0.5);
	border: 1px solid rgb(170, 170, 170);
}

li {
	padding: 2px 4px;
}

li:nth-child(2n+1) {
    background-color: #F7F8FA;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #444;
    font-size: 14px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	font-size: 11px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid rgb(170, 170, 170);
}

input[type="number"],
input[type="text"] {
	width: 100%;
	border-radius: 2px;
}

input[type="checkbox"] {
    vertical-align: sub;
	margin-bottom: 0;
}

button {
    color: #0479D4;
	background-color: rgba(4, 121, 212, .08);
	border: 1px solid #DAE0E6;
	border-radius: 4px;
	outline: none;
	width: 100%;
}

button:hover {
    background-color: rgba(4, 121, 212, .16);
}

button:active {
    background-color: rgba(4, 121, 212, .24);
}

button:disabled {
	background-color: rgba(4, 121, 212, .04);
}

button:focus {
	border: 1px solid rgb(200, 204, 212);
}
