<div class="app">
  <header>
    <span class="logo">
      <img class="logo-img" src="../assets/logo.png">
    </span>
    <span class="spacer"></span>
    <span class="title-container">
        <h1 class="title">Saved to Bookmark</h1>
        <h2 class="subtitle">for Reddit</h2>
    </span>
  </header>
  <main>
    <p>{{sessionService.message}}</p>
    <app-login *ngIf="!sessionService.loggedIn"></app-login>
    <app-bookmarker *ngIf="sessionService.loggedIn"></app-bookmarker>
    <div *ngIf="redditService.loading">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
  </main>
</div>