/* Tooltip container */
.tooltip {
    position: relative;
}

.tooltip.check-circle {
    top: 25px;
    left: 10px;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: white;
    box-shadow: 0 1px 4px rgba(220, 220, 220, 0.5);
    text-align: center;
    padding: 5px;
    /* Position */
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    cursor: default;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}