/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600');

html, body {
    height: 600px;
    width: 506px;
    margin: 0 auto;
    font-size: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
}

input, button {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3 {
    cursor: default;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 14px;
}

.btn {
    color: #0479D4;
    background-color: rgba(4, 121, 212, .07);
    border: 1px solid #DAE0E6;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1;
}

.btn-primary {
    flex: 8;
    height: 40px;
    border-radius: 4px;
}

.btn-secondary {
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
}

.btn:hover {
    background-color: rgba(4, 121, 212, .14);
}

.btn:active {
    background-color: rgba(4, 121, 212, .21);
}

.btn:active, .btn:focus {
    outline: none;
}

.error {
    color: red;
}

.form-control {
    height: 25px;
    padding: 0px 5px;
    box-shadow: 0 1px 4px rgba(220, 220, 220, 0.5);
    border: 1px solid #DAE0E6;
}

.form-control:focus {                
    border: 1px solid #868A8C;
    outline: none;
}